body {
    background-color: brown;
}

.square {
    height: 100px;
    width: 100px;
    border: solid black 2px;
    margin: 5px;
}

#gameScreen {
    height: 600px;
    width: 600px;
    border: solid black 4px;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;

}